html,body
{
	margin: auto;
	padding: 0px;
}
.navi
{
	height: 60px;
}
.ful
{
	height: 100vh;
}
.row
{
	margin-bottom: 0px;
}

////////////////////////// Materialize Override ////////////////////////////////////////////////
.collection .collection-item.active {
    background-color: #01579B !important;
    color: #EAFAF9 !important;
}