html,body
{
   margin: auto;
   padding: 0px;
   background-image: url("../images/main-bg.jpg");
   background-size: cover;

}
input
{
	margin:20px;
	text-align: center;
}
button
{
	color: white;	
	font-family: sans-serif;
	font-weight: bold;
	border: 1px solid;
	border-radius: 5px;
	background-color:#4a4851;
  	border-color:#4a4851 ;
	margin: 30px;
	transition: color,background-color,border-color 0.5s;
}
button:hover
{	border-color:white;
	background-color: white;
	color: #4a4851;
}
a 
{
  font-family: sans-serif;
  font-size: 15px;
  color:#9d9c9c;
  text-decoration: none;
  margin-top: 20px;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease; 
}
a:hover
{
	 color: #FFF;
}
ul
{
    list-style-type: none;
    margin-left: -10px;
}
li
{	border: 2px solid;
	border-radius: 5px;
	background-color:#4a4851;
  	border-color: rgba(74,72,81,0.7);
	margin-top: 20px;
	margin-right: 20px;
	padding:5px; 
	text-align: center;
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;

 }
li:hover 
{
  background-color: #5b5963;
  
}
.label
{
	color: white;
}
.formbtn
{
	height: 20px;
	width: 80px;
}
#header
{
	background-color: rgba(36,30,54,0.58);
	box-shadow: 0px 3px 5px #000;
	height: 60px;
	width:100%;
	color: white;
	text-align: center;
	font-size: 36px;
	font-family: sans-serif;
	z-index: -30;
}
#center
{
	font-family: sans-serif;
	text-align: center;
	position: relative;
	background-color: rgba(36,30,54,0.58);
	top:170px;
	width: 300px;
	box-shadow: 0px 0px 20px #000;
	font-family: sans-serif;
}
#footer
{	
	background-color: rgba(36,30,54,0.58);
	box-shadow: 0px -3px 5px #000;
	height: 50px;
	width:100%;
	position: absolute;
	bottom: 0px;
	z-index: -30;
}
#sidebar
{
	height: 500px;
	width: 245px;
	border: 2px solid;
    border-radius: 25px;
	border-color: rgba(255,255,255,0.7);
	margin-left: -1000px;
	margin-top: 25px;	
	text-align: left;
}
#mainbar
{
	height: 500px;
	width: 900px;
	border: 2px solid;
    border-radius: 25px;
	border-color: rgba(255,255,255,0.7);
	margin-left: 300px;
	margin-top: -500px;
	text-align: left;
}
#sample
{
	position: relative;
	left:50px;
}
#dbcontent
{	border: 2px solid;
	border-color: rgba(255,255,255,0.7);
	border-radius: 5px;
	margin: 20px;
	margin-left: 80px;
	text-align: center;
	height: 80%;
	width: 80%;
	overflow-y: scroll;
}
#mainbar section
{	color:#FFF;
	margin:20px;
}
#mainbar a
{
	border: 2px solid;
	border-radius: 5px;
	background-color:#4a4851;
	border-color: #4a4851;
	margin: 20px;
}
#dbfetch a
{
	float: left;
}
#dbfetch div
{
	color: #FFF;
	font-family: fantasy;
	font-size: 
}
#mainpager
{
	height: 200px;
}
#inst dd,dt,li
{
	margin-top: 20px;
}
#inst
{
	margin-top: 150px;
	margin-left: 150px;
}
