html,body
{
	margin: auto;
	padding: 0px;
}
.navi
{
	height: 60px;
}
.ful
{
	height: 100vh;
}
.row
{
	margin-bottom: 0px;
}
.f18
{
	font-size: 18px;
}
.spacer
{
	margin-top: 30px;
}
.mspace
{
	margin: 5px;
}
